
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import "compass";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
  overflow-x: hidden;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}



.showcase header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
}



.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}


.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .1;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:cyan;
    mix-blend-mode: overlay;
}



.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    color: #d91e18;
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    max-width: 20em;
    text-transform: uppercase;
}

.text p {
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    margin: 10px 0;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s;
    border-radius: 3em;
}

.text a:hover {
    letter-spacing: 6px;
    color: #d91e18;
}

.menu  {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #111;
    padding: 2em;
    text-align: right;
    display: block;
    align-items: baseline;
    line-height: 3em;
}

.menu ul {
    position: relative;
    list-style: none;
    margin-top: 3em;
}


.menu ul li a {
    text-decoration: none;
    font-size: 1.6em;
    color:aliceblue;
}

.link {
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 1.6em;
  padding: 0;
}

.dropdown.active > .link,
.link:hover {
  color: #d91e18;
}
.menu ul li a:hover {
    color: #d91e18;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 12px;
  top: calc(100% + .25em);
  color: #111;
  background-color: aliceblue;
  padding: .35rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
}

.information-grid {
  left: 6em;
  width: 9em;
  text-align: center;
}

.order-links a {
  display: grid;
  gap: 2em;
  line-height: 2em;
  padding: 1em;
  font-size: 1em;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  color: #d91e18;
  text-decoration: none;
}
/* about css */
/* about css */
/* about css */
/* about css */




.aboutimg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

.abouttext {
    position: relative;
    margin: auto;
    text-align: center;
    z-index: 10;
}

.abouttext h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    max-width: 30em;
    text-transform: uppercase;
}

.abouttext p {
    color: #d91e18;
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
    margin: 30px 0;
}

/* start down arrow */

.arrow-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }
  
  .arrow-1 {
    width: 100px;
    height: 100px;
    background: #d91e18;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
  }
  
  .arrow-2 {
    width: 60px;
    height: 60px;
    background: #d91e18;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
  }
  
  .arrow-2:before {
    content: url(assets/304.png);
    position: absolute;
    top: 8px;
    left: 7px;
  }
  
  .arrow-2 i.fa {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #006064;
  }

  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
            animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }

/* end down arrow */

.products {
  position: absolute;
  top: 62em;  
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #111;
  color: white;
}

.bodytext {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25em;
  text-align: center;
}

.bodytext h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: #d91e18;
} 

.bodytext p {
  font-size: 2em;
  text-transform: uppercase;
}

.productshow {
  position: absolute;
  margin-top: 30em;
  margin-left: 12em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10em;
}

.productshow ul {
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 3em;
}

.productimages {
  width: 588px;
  height: 372px;
}

/* CONTACT CSS */

.overlay2 {
  background-color: #d91e18;
  mix-blend-mode:hue;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 27.5%;
  bottom: 1px;
  left: 0;
  padding-top: 5em;
  pointer-events: none;
}

.map-responsive {
  overflow: hidden;
}

.map-responsive iframe {
  padding-top: 5em;
  left: 0;
  bottom: 0;
  height: 45%;
  width: 100%;
  position: absolute;
}

.contact-grid {
  margin: auto;
  position: absolute;
  display: flex;
  width: 100%;
  height: 50%;
  left: 0;
  padding-left: 25em;
  padding-right: 25em;
  justify-content: space-around
}

.contact-info {
  color: aliceblue;
  text-align: left; 
}

.contact-info h1 {
  color: #d91e18;
  font-size: 3em;
}

.highlights {
color: #d91e18;
font-weight: 700;
}


.input-block {
  border: solid 1px #d91e18;
  margin-bottom: 20px;
  position: relative;
  height: 60px;
  width: 100%;
  padding: 25px;
}

.input-block:focus {
  font-size: 5px;
}

label {
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  top: 10px;
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 10px;
}



.form-control {
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  position: relative;
  font-size: 18px;
  color: #fff;
  resize: none;
  outline: none;
}

.form-control:focus {
  top: 0;
}

.textarea {
  height: auto;
}

.square-button{
  color:#d91e18;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: all .5s;
  padding: 0;
  height: 60px;
  border: none;
  width: 100%;
  cursor: pointer;
}



.square-button:hover {
color: white;
background-color: #d91e18;
}


@media(max-width: 1920px) {
  
.text {
  top: 5em;
}

.abouttext {
  top: 5em;
  font-size: 12px;
}

  .products {
    top: 57em
  }

  .bodyttext {
    top: -11em
  }
  .productshow {
    gap: 3em;
    margin-top: 25em;
    margin-left: 6em;
  }

  .contact-grid {
  margin-left: 0;
  margin-right: 0;
  }
  .map-responsive iframe {
    padding-top: 10em;
  }  
}

@media(max-width: 1366px) {

  .text {
    top: 5em;
  }

  .products {
    top: 40em;
  }


  .bodytext {
    font-size: 12px;
  }

  .productshow {
    font-size: 12px;
    display: grid;
    left: 25em;
    grid-template-columns: 1fr 2fr;
  }

  .productimages {
    width: 388px;
    height: 172px;
  }

  .map-responsive {
    overflow: auto;
  }
  
  .map-responsive iframe {
    padding-top: 15em;
    height: 50%;
    overflow: visible;
  }

  .contact-info {
    position: relative;
    right: 5em;
    top: 2em;
  }

  .contact-form {
    left: 10em;
    top: 2em;
    position: relative;
  }

}



  @media(max-width: 414px) {
    .text {
      font-size: 10px;
    }

    .logo {
      width: 155px;
      height: 64px;
    }

    img {
      width: 155px;
      height: 64px;
    }
    
    .showcase {
      background-color: #111;
    }

    .showcase header {
      padding: 2em;
    }

  .aboutimg {
    object-fit: cover;
  }

  .abouttext {
    font-size: 4px;
  }

  .abouttext h2 {
    position: relative;
    line-height: 1.5em;
    bottom: 2em;
  }

  .abouttext p {
    position: relative;
    line-height: 1.5em;
  }

  .bodytext {
    padding: 0 5em;
    font-size: 6px;
    top: 3em;
  }

  .products {
    height: 850px;
    background-color: #111;
  }
  .productshow {
    font-size: 7px;
    left: -20px;
    top: 45em;
  }

.productimages {
  width: 239px;
  height: 139px;
}

.contact-grid {
  padding-right: 0;
  padding-left: 23em;
  }

.contact-info {
  position: relative;
  text-align: center;
  right: 30px;
  top: -2em;
}

.contact-wrap {
  position: relative;
  right: 30em;
  top: 13em;
  width: 20em;
}


  .overlay2 {
    display: none;
    /* top: 63em; */
  }

.map-responsive iframe {
  display: none;
  height: 75%;
  top: 41em;
  background-color: #111;
}

  }